/* body {
  background-color: #47ff94;
} */
:root {
  /* Fonts */

  /* Text colors */
  --main-txt-cl: #434455;
  --accent-txt-cl: #2e2f42;
  --subtle-txt-cl: #8e8f99;
  --light-txt-cl: #f4f4fd;
  --modal-txt-cl: #2e2f42;
  --hero-txt-cl: #2e2f42;
  --brand-txt-cl: #4d5ae5;
  --pressed-txt-cl: #404bbf;
  --dark-txt-cl: #2e2f42;
  --btn-txt-cl: #ffffff;
  --link-txt-cl: #2e2f42;
  --hero-txt-cl: #ffffff;
  --footer-txt-cl: #e7e9fc;

  --access: #31d0aa;
  --access-75: rgba(49, 208, 170, 0.75);
  --access-50: rgba(49, 208, 170, 0.5);
  --access-10: rgba(49, 208, 170, 0.1);

  /* Backgrounds colors */
  --main-bg-cl: #434455;
  --accent-bg-cl: #2e2f42;
  --subtle-bg-cl: #8e8f99;
  --light-bg-cl: #f4f4fd;
  --modal-bg-cl: #2e2f42;
  --hero-bg-cl: #2e2f42;
  --brand-bg-cl: #4d5ae5;
  --pressed-bg-cl: #404bbf;
  --dark-bg-cl: #2e2f42;
  --border-cl: #e7e9fc;
  --bg-cl-light: #ffffff;

  /* others */
  --indent: 48px 24px;
  --items: 9;
  --bg-cl-ellipse: rgba(255, 255, 255, 0.1);
  --bg-cl-ellipse-hover: #31d0aa;
}
.btn-total {
  padding: 0;
}
body {
  width: 1440px;
  margin-right: auto;
  margin-left: auto;
  color: var(--main-txt-cl);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-cl);
}

.hero {
  max-width: 1440px;
  height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--hero-bg-cl);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-txt-cl);
}
.section {
  width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section.works {
  padding-top: 0;
}
.section .portfolio {
  padding-top: 120px;
}
/**
  |============================
  | Team
  |============================
*/

.team {
  margin-bottom: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--light-bg-cl);
}
.team-ul {
  display: flex;
  gap: 24px;
}
.team-item {
  width: 264px;
}
.team-item > .item {
  padding-top: 32px;
  padding-bottom: 32px;

  background-color: var(--bg-cl-light);
  text-align: center;
}
.team-position {
  margin-bottom: 20px;
}
.socials {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--brand-bg-cl);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--pressed-bg-cl);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-icon {
  fill: var(--light-bg-cl);
}

/* .container.footer {
  width: 264px;
  height: 110px;
  outline: 5px solid yellow;
} */
.section-mini {
  width: 1158px;
  margin: 0 auto 120px;
  padding-top: 120px;
  padding-right: 15px;
  padding-left: 15px;
}
/* h1 */
.main-title {
  width: 494px;
  height: 120px;

  margin-top: 0;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
  color: var(--hero-txt-cl);
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  text-align: center;
}
/* h2 */
.title {
  margin-top: 0;
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.title.top-padding {
  padding-top: 120px;
}
/* h3 */
.title-item {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;

  /* line-height: 1.2; */
  /* letter-spacing: 0.02em; */

  /* font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px; */

  letter-spacing: 0.02em;
}

/* p */
.item {
  color: var(--main-txt-cl);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.border > .item {
  margin-bottom: 0;
}

.link {
  color: var(--accent-txt-cl);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  font-family: "Roboto";
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: color;
}
.link:hover,
.link:focus,
.link.contacts:hover,
.link.contacts:focus {
  color: var(--pressed-txt-cl);
}
nav .current {
  color: var(--pressed-txt-cl);
}

.header-nav-link.current::after {
  content: "";
  position: absolute;
  bottom: -24px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-bg-cl);
}
.header-nav-link {
  position: relative;
  display: block;
}
.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.btn {
  margin-bottom: 188px;
  padding: 16px 32px;
  border: none;
  background-color: var(--brand-bg-cl);

  color: var(--btn-txt-cl);
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-filter {
  min-width: 69px;
  min-height: 48px;

  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  background-color: var(--brand-bg-cl);

  color: var(--btn-txt-cl);
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-filter:hover,
.btn-filter:focus {
  background-color: var(--pressed-bg-cl);
  color: var(--btn-txt-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn.primary {
  background-color: var(--brand-bg-cl);
}
.btn.secondary {
  background-color: var(--pressed-bg-cl);
}
.btn:hover,
.btn:focus {
  background-color: var(--pressed-bg-cl);
  color: var(--light-txt-cl);
}
.btn-light {
  background-color: var(--light-bg-cl);
  color: var(--brand-txt-cl);
}
.logo {
  display: block;
  margin-bottom: 16px;

  /* IRIS */

  color: var(--brand-txt-cl);
  font-weight: 800;
  font-style: normal;
  font-size: 18px;

  font-family: "Raleway";
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
}
.span-light {
  color: var(--light-txt-cl);
  /* background-color: darkblue; */
}
.span-dark {
  color: var(--modal-txt-cl);
}
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.site-nav {
  display: flex;
  margin-left: 76px;
}
/* .site-nav li {
  outline: 1px solid tomato;
} */
.site-nav .item:not(:last-child) {
  margin-right: 40px;
}
.auth-nav .item + .item {
  margin-left: 40px;
}
.auth-nav {
  display: flex;
}
.auth-nav.item + .item {
  margin-left: 40px;
}
.nav-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap-logo {
  display: flex;
  align-items: baseline;
}
.wrap-logo:first-child {
  /* margin-left: 156px; */
}
.list p {
  margin-top: 0;
  /* margin-bottom: 0; */
}

.principles {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.principles .item {
  width: 264px;
}
.feature-icons {
}
.feature-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  /* padding: 24px 100px; */
  margin-bottom: 8px;
  background-color: var(--light-bg-cl);
}
/* .section-mini .item {
  --items: 5;
} */

.example {
  display: flex;
  gap: 24px;
}
.example .item {
  width: 360px;
}

.filter-set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
  padding-top: 0;
}
.filter {
  width: 586px;
  height: 48px;
  margin-top: 96px;
  margin-right: auto;
  margin-bottom: 72px;
  margin-left: auto;
}
/* --indent: 48px 24px;
  --items: 9;
} */
/* сетка */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(50%);
}
.card-item {
  flex-basis: calc((100%- (var(--items)-1) * var(indent)) / var(--items));
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.border {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-right: 1px solid var(--border-cl);
  border-bottom: 1px solid var(--border-cl);
  border-left: 1px solid var(--border-cl);
}

.link-wrap:hover,
.link-wrap:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  box-shadow: 0 1px 1px 0 rgba(46, 47, 66, 0.16);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.link-block {
  display: block;
}
.link-wrap {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
}

/**
  |============================
  | Footer
  |============================
*/

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--dark-bg-cl);
}
.item-footer {
  width: 264px;
  margin: 0;
  color: var(--footer-txt-cl);
}
.footer-item {
  margin-top: 0;
  margin-bottom: 16px;

  color: var(--btn-txt-cl);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  font-family: "Roboto";
  line-height: 1, 5;
  /* identical to box height, or 150% */

  letter-spacing: 0.02em;
}
.footer-socials {
  width: 208px;
}
.footer-wrap {
  display: flex;
  gap: 80px;
}
.footer-logo {
  display: block;
  margin-right: 40px;
}

.socials-footer {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.socials-footer .socials-link {
  background-color: var(--bg-cl-ellipse);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-footer .socials-link:hover,
.socials-footer .socials-link:focus {
  background-color: var(--bg-cl-ellipse-hover);
}

.subscribe-btn {
  display: flex;

  width: 165px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  border: none;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-icon {
  display: block;
  fill: var(--bg-cl-light);
  margin-left: 16px;
}
.subscribe-form {
  display: flex;
  width: 453px;
  height: 80px;
  /* justify-content: center; */
  align-items: center;
  gap: 24px;
}
.subscribe-item {
  margin: 0;
}

.custom-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid var(--subtle-bg-cl);
  border-color: var(--subtle-bg-cl);
  border-radius: 4px;
  color: var(--subtle-txt-cl);
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.custom-link:hover,
.custom-link:focus {
  border-color: var(--pressed-bg-cl);
  color: var(--pressed-bg-cl);
}
.cust-icons {
  fill: currentColor;
}
.customers {
  display: flex;
  justify-content: space-between;
}
/**
    |============================
    | Modal window
    |============================
  */
.backdrop {
  position: fixed;
  width: 1440px;
  height: 677px;
  left: auto;
  right: auto;
  top: 0px;

  background: rgba(46, 47, 66, 0.4);
  transition: opacity 800ms ease-out, visibility 800ms ease-out;

  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4); */
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 88px;
  left: 516px;

  width: 408px;
  height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--border-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8;
}
.modal-icon {
}
/**
  |============================
  | Overlay card
  |============================
*/
.box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--brand-bg-cl);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-txt-cl);
  padding: 40px 32px 164px;
}
.link-wrap:hover .overlay {
  transform: translateY(0);
}
